<script src="/js/gameplay.js"></script>
  <% TRACK_LENGTH = 20 %>

  <% if @players %>
    <% @p1 = @players[0] %>
    <% @p2 = @players[1] %>
  <% else %>
    <% @players = [] %>
    <% @players[0] = @p1 %>
    <% @players[1] = @p2 %>
  <% end %>

  <script>
    var track_length = <%= TRACK_LENGTH %>
  </script>

  <table class="racer_table" data-num-players="<%= @players.length %>">
    <% @players.length.times do |row| %>
      <tr id="player<%= row %>" data-id="<%= @players[row].id %>">
        <td class="player-label"><%= @players[row].initials %>: </td>
        <% TRACK_LENGTH.times do %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>



